*.o
.DS_Store
.*.swp
/env
/dl
/.config
/.config.old
/.toolchain_build_ver
/bin
/build_dir
/staging_dir
/tmp
/logs
/feeds/*
!/feeds/luci/
/feeds/luci/*
!/feeds/luci/modules/
/feeds/luci/modules/*
!/feeds/luci/modules/luci-base
!/feeds/luci/modules/luci-mod-control
!/feeds/luci/modules/luci-mod-network
!/feeds/luci/modules/luci-mod-status
!/feeds/luci/modules/luci-mod-system
!/feeds/luci/applications/
/feeds/luci/applications/*
/feeds/*
!/feeds/packages/*
/feeds/packages/*
!/feeds/packages/libs/
/feeds/packages/libs/*
!/feeds/packages/libs/libmodbus
/feeds.conf
/files
/target/linux/feeds
/overlay
/package/feeds
/package/openwrt-packages
/*.patch
/llvm-bpf*
key-build*
*.orig
*.rej
*~
.#*
*#
.emacs.desktop*
TAGS*~
git-src
.project
.cproject
.ccache
.vscode*
